language: android
jdk: oraclejdk7

env:
  matrix:
    - ANDROID_SDKS=android-19,sysimg-19 ANDROID_TARGET=android-19 ANDROID_ABI=armeabi-v7a

android:
  components:
    - build-tools-19.1.0
    - android-19

before_install:
  # Create and start emulator
  - echo no | android create avd --force -n test -t ${ANDROID_TARGET} --abi ${ANDROID_ABI}
  - emulator -avd test -no-skin -no-audio -no-window &

before_script:
  - chmod +x ci/wait_for_emulator.sh
  - ci/wait_for_emulator.sh
  # Unlock screen
  - adb shell input keyevent 82 &

script:
    - ./gradlew connectedAndroidTest